<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <config>
    <add key="globalPackagesFolder" value="./packages" />
    <add key="repositoryPath" value="./packages" />
  </config>
  <packageSources>
    <clear />
    <!-- Local packages for sample development (run Scripts/Publish-Local.ps1 first) -->
    <add key="local" value="./bin/packages" />
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
  </packageSources>
</configuration>
